body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #09497e;
  color: #fff;
  padding: 15px 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

nav h1 {
  font-size: 36px;

&:hover {
  color: #f0a500;
}
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin: 0 15px;
}

nav a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #f0a500;
}

.text {
font-size: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
}

.skill-list {
display: flex;
flex-wrap: wrap;
width: 100%;

& > li {
  margin: 10px;
  font-size: 16px;
  list-style: square;
  color: #09497e;
  width: 250px;
  height: 24px;
  list-style: none;
  padding: 12px;
/*     border: 1px solid grey; */
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  
  &:hover {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  }
}

}

.project{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
margin: 24px 0;
}

.project-info {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;

& > ul > li {
  font-size: 18px
}
}

.project-heading {
display: flex;
}

.project-info {
display: flex;
flex-direction: column;

& > h3 {
  margin: 6px 0;
}
& > span {
  margin: 2px 0;
}
}

footer {
  text-align: center;
  background-color: #222;
  color: #fff;
  padding: 15px 0;
  font-size: 14px;
}
